In [1]:
# Import Python Libraries
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

# import Wrangle functions
from env import user, password, hostname, get_db_url
import acquire
import prepare

# ignore warnings
import warnings 
warnings.filterwarnings("ignore")

# import Machine Learning Library for classification
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.metrics import ConfusionMatrixDisplay

## ACQUIRE and EXPLORE

In [2]:
telco_df = acquire.get_telco_data('telco_churn')
telco_df.head()

,Unnamed: 0,internet_service_type_id,contract_type_id,payment_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,payment_type,contract_type,internet_service_type
0,0,1,2,2,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.6,593.3,No,Mailed check,One year,DSL
1,1,1,1,2,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,Mailed check,Month-to-month,DSL
2,2,2,1,1,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.9,280.85,Yes,Electronic check,Month-to-month,Fiber optic
3,3,2,1,1,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Electronic check,Month-to-month,Fiber optic
4,4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Mailed check,Month-to-month,Fiber optic

In [3]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   payment_type_id           7043 non-null   int64
 4   customer_id               7043 non-null   object
 5   gender                    7043 non-null   object
 6   senior_citizen            7043 non-null   int64
 7   partner                   7043 non-null   object
 8   dependents                7043 non-null   object
 9   tenure                    7043 non-null   int64
 10  phone_service             7043 non-null   object
 11  multiple_lines            7043 non-null   object
 12  online_security           7043 non-null   object
 13  online_backup             7043 non-null   object
 14  device_protection         7043 non-null   object
 15  tech_support              7043 non-null   object
 16  streaming_tv              7043 non-null   object
 17  streaming_movies          7043 non-null   object
 18  paperless_billing         7043 non-null   object
 19  monthly_charges           7043 non-null   float64
 20  total_charges             7043 non-null   object
 21  churn                     7043 non-null   object
 22  payment_type              7043 non-null   object
 23  contract_type             7043 non-null   object
 24  internet_service_type     7043 non-null   object
dtypes: float64(1), int64(6), object(18)
memory usage: 1.3+ MB

In [4]:
telco_df.shape

(7043, 25)

In [5]:
telco_df.describe

<bound method NDFrame.describe of       Unnamed: 0  internet_service_type_id  contract_type_id  payment_type_id  \
0              0                         1                 2                2
1              1                         1                 1                2
2              2                         2                 1                1
3              3                         2                 1                1
4              4                         2                 1                2
...          ...                       ...               ...              ...
7038        7038                         1                 2                2
7039        7039                         2                 1                1
7040        7040                         1                 1                2
7041        7041                         1                 3                2
7042        7042                         1                 3                1

     customer_id  gender  senior_citizen partner dependents  tenure  ...  \
0     0002-ORFBO  Female               0     Yes        Yes       9  ...
1     0003-MKNFE    Male               0      No         No       9  ...
2     0004-TLHLJ    Male               0      No         No       4  ...
3     0011-IGKFF    Male               1     Yes         No      13  ...
4     0013-EXCHZ  Female               1     Yes         No       3  ...
...          ...     ...             ...     ...        ...     ...  ...
7038  9987-LUTYD  Female               0      No         No      13  ...
7039  9992-RRAMN    Male               0     Yes         No      22  ...
7040  9992-UJOEL    Male               0      No         No       2  ...
7041  9993-LHIEB    Male               0     Yes        Yes      67  ...
7042  9995-HOTOH    Male               0     Yes        Yes      63  ...

     tech_support streaming_tv streaming_movies paperless_billing  \
0             Yes          Yes               No               Yes
1              No           No              Yes                No
2              No           No               No               Yes
3              No          Yes              Yes               Yes
4             Yes          Yes               No               Yes
...           ...          ...              ...               ...
7038          Yes           No               No                No
7039           No           No              Yes               Yes
7040           No           No               No               Yes
7041          Yes           No              Yes                No
7042           No          Yes              Yes                No

     monthly_charges total_charges churn      payment_type   contract_type  \
0              65.60         593.3    No      Mailed check        One year
1              59.90         542.4    No      Mailed check  Month-to-month
2              73.90        280.85   Yes  Electronic check  Month-to-month
3              98.00       1237.85   Yes  Electronic check  Month-to-month
4              83.90         267.4   Yes      Mailed check  Month-to-month
...              ...           ...   ...               ...             ...
7038           55.15         742.9    No      Mailed check        One year
7039           85.10        1873.7   Yes  Electronic check  Month-to-month
7040           50.30         92.75    No      Mailed check  Month-to-month
7041           67.85       4627.65    No      Mailed check        Two year
7042           59.00        3707.6    No  Electronic check        Two year

      internet_service_type
0                       DSL
1                       DSL
2               Fiber optic
3               Fiber optic
4               Fiber optic
...                     ...
7038                    DSL
7039            Fiber optic
7040                    DSL
7041                    DSL
7042                    DSL

[7043 rows x 25 columns]>

In [6]:
telco_df.describe(include='object').T

                      count unique               top  freq
customer_id            7043   7043        0002-ORFBO     1
gender                 7043      2              Male  3555
partner                7043      2                No  3641
dependents             7043      2                No  4933
phone_service          7043      2               Yes  6361
multiple_lines         7043      3                No  3390
online_security        7043      3                No  3498
online_backup          7043      3                No  3088
device_protection      7043      3                No  3095
tech_support           7043      3                No  3473
streaming_tv           7043      3                No  2810
streaming_movies       7043      3                No  2785
paperless_billing      7043      2               Yes  4171
total_charges          7043   6531                      11
churn                  7043      2                No  5174
payment_type           7043      4  Electronic check  2365
contract_type          7043      3    Month-to-month  3875
internet_service_type  7043      3       Fiber optic  3096

#### Explore Data Function

In [20]:
def telco_data_explore(data):
    telco_df = data
    print(telco_df.info())
    print('                        ')
    print(telco_df.describe())
    print('                        ')
    print(telco_df.describe(include='object').T)
    print('                        ')
    print('The telco data used for this project has', telco_df.shape[0], 'rows and', telco_df.shape[1], 'columns')
    print('                        ')
    print('This is the initial exploration of data')
    return telco_df

In [21]:
telco_data_explore(telco_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   payment_type_id           7043 non-null   int64
 4   customer_id               7043 non-null   object
 5   gender                    7043 non-null   object
 6   senior_citizen            7043 non-null   int64
 7   partner                   7043 non-null   object
 8   dependents                7043 non-null   object
 9   tenure                    7043 non-null   int64
 10  phone_service             7043 non-null   object
 11  multiple_lines            7043 non-null   object
 12  online_security           7043 non-null   object
 13  online_backup             7043 non-null   object
 14  device_protection         7043 non-null   object
 15  tech_support              7043 non-null   object
 16  streaming_tv              7043 non-null   object
 17  streaming_movies          7043 non-null   object
 18  paperless_billing         7043 non-null   object
 19  monthly_charges           7043 non-null   float64
 20  total_charges             7043 non-null   object
 21  churn                     7043 non-null   object
 22  payment_type              7043 non-null   object
 23  contract_type             7043 non-null   object
 24  internet_service_type     7043 non-null   object
dtypes: float64(1), int64(6), object(18)
memory usage: 1.3+ MB
None

        Unnamed: 0  internet_service_type_id  contract_type_id  \
count  7043.000000               7043.000000       7043.000000
mean   3521.000000                  1.872923          1.690473
std    2033.283305                  0.737796          0.833755
min       0.000000                  1.000000          1.000000
25%    1760.500000                  1.000000          1.000000
50%    3521.000000                  2.000000          1.000000
75%    5281.500000                  2.000000          2.000000
max    7042.000000                  3.000000          3.000000

       payment_type_id  senior_citizen       tenure  monthly_charges
count      7043.000000     7043.000000  7043.000000      7043.000000
mean          2.315633        0.162147    32.371149        64.761692
std           1.148907        0.368612    24.559481        30.090047
min           1.000000        0.000000     0.000000        18.250000
25%           1.000000        0.000000     9.000000        35.500000
50%           2.000000        0.000000    29.000000        70.350000
75%           3.000000        0.000000    55.000000        89.850000
max           4.000000        1.000000    72.000000       118.750000

                      count unique               top  freq
customer_id            7043   7043        0002-ORFBO     1
gender                 7043      2              Male  3555
partner                7043      2                No  3641
dependents             7043      2                No  4933
phone_service          7043      2               Yes  6361
multiple_lines         7043      3                No  3390
online_security        7043      3                No  3498
online_backup          7043      3                No  3088
device_protection      7043      3                No  3095
tech_support           7043      3                No  3473
streaming_tv           7043      3                No  2810
streaming_movies       7043      3                No  2785
paperless_billing      7043      2               Yes  4171
total_charges          7043   6531                      11
churn                  7043      2                No  5174
payment_type           7043      4  Electronic check  2365
contract_type          7043      3    Month-to-month  3875
internet_service_type  7043      3       Fiber optic  3096

The telco data used for this project has 7043 rows and 25 columns

This is the initial exploration of data

,Unnamed: 0,internet_service_type_id,contract_type_id,payment_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,payment_type,contract_type,internet_service_type
0,0,1,2,2,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.60,593.3,No,Mailed check,One year,DSL
1,1,1,1,2,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.90,542.4,No,Mailed check,Month-to-month,DSL
2,2,2,1,1,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.90,280.85,Yes,Electronic check,Month-to-month,Fiber optic
3,3,2,1,1,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Electronic check,Month-to-month,Fiber optic
4,4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Mailed check,Month-to-month,Fiber optic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,1,2,2,9987-LUTYD,Female,0,No,No,13,...,Yes,No,No,No,55.15,742.9,No,Mailed check,One year,DSL
7039,7039,2,1,1,9992-RRAMN,Male,0,Yes,No,22,...,No,No,Yes,Yes,85.10,1873.7,Yes,Electronic check,Month-to-month,Fiber optic
7040,7040,1,1,2,9992-UJOEL,Male,0,No,No,2,...,No,No,No,Yes,50.30,92.75,No,Mailed check,Month-to-month,DSL
7041,7041,1,3,2,9993-LHIEB,Male,0,Yes,Yes,67,...,Yes,No,Yes,No,67.85,4627.65,No,Mailed check,Two year,DSL
7042,7042,1,3,1,9995-HOTOH,Male,0,Yes,Yes,63,...,No,Yes,Yes,No,59.00,3707.6,No,Electronic check,Two year,DSL